body {
	margin-top:0px;
	margin-bottom:0px;
	background-color:#b4c6d9;
}
#parent{
	border:solid 1px;
	min-height:560px;	
	min-width:1200px;
	width:1200px;
	border-left:solid 2px #064C87;
	border-right:solid 2px #064C87;
	background-color:#f8f8f8;
	border-bottom:solid 20px #064C87;	
}
* html #parent{
	height:650px;
	width:1200px;
} 
#cabecera{
	border-bottom:solid 20px #5A90CF;	
	width:100%;
	height:140px;	
	background-color:#064C87;
	padding-top:25px;
}
* html #cabecera{
	padding-top:15px;	
}
#cabecera a:link {
	text-decoration:none;
}
#cabecera a:hover > .menu_up{
	text-decoration:underline;
	border-bottom:solid 1px #064C87;
	border-right:solid 1px;
	color:#064C87;	
}
#cabecera a:visited  {
	text-decoration:none;
	
}
#cuerpo{
	width:100%;
	height:480px;
}
.boton_superior_gi{		
		color:#f3f3f3;
		background-image:url('../../imagenes/boton_vacio.jpg');
		background-repeat:no-repeat;
		font-family:verdana;
		font-size:35px;
		font-weight:bold;
		margin-left:30px;
		height:80px;
		width:80px;
		float:left;		
		text-align:center;
		padding-top:15px;		
}

.boton_superior_gi span{
	height:40px;	
	padding:0px 0px 0px 0px;
}
* html .boton_superior_gi{
	margin-left:25px;
}
#span_sam{
	margin-top:5px;
	font-size:30px;
}
.span_completo{
	height:40px;	
	padding:0px 0px 0px 0px;
	font-family:verdana;
	font-size:10px;
	margin-top:15px;
	text-align:center;	
	display:none;
}
* html .span_completo{
	margin-top:30px;
}
#caja_botones_sup_gi{
	width:100%;
	height:80px;
	margin-top:20px;	
}
* html #caja_botones_sup_gi{
	margin-top:0px;
}
/********************* INICIO MENU CABECERA *****************/
#menu_taquillas{
	width:90%;	
}
#menu_habitaciones{
	width:85%;	
}
#menu_usuarios{
	width:80%;
}
#menu_reaj{
	width:75%;
}
#menu_tarifas{
	width:70%;
}
#menu_ipolicial{
	width:65%;
}
#menu_skins{
	width:60%;	
}
.titulo{
	text-align:left;
	font-family:Verdana;
	font-size:18px;
	font-weight:bold;
/*	background-color:#467BAF;*/	
	color:#F3F3F3;	
	max-height:30px;
}

/********************* FIN MENU CABECERA *****************/
#cuerpo{
	font-family:Verdana;
	clear:both;
	padding-top:5px;
	padding-bottom:5px;
}