select
	{
	background-color:rgb(240,250,211);
	color:rgb(103,114,12);
	font-weight:bold;
	}

.tablaGeneralDisponibilidad
	{
	background-color:rgb(240,250,211);
	}
	
.tablaCalendario
	{
	background-color:rgb(240,250,211);
	}	